:host {
  display: block;
  width: 100%;
  height: 100px;
  overflow: hidden;
  background: #333;
  color: #ccc;
  position: relative;
}

:host.odd {
  background: #444;
}

.thumb {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.content {
  position: absolute;
  left: 100px;
  top: 0px;
  width: calc(100% - 100px);
  height: 100%;
}

.content>.title {
  box-sizing: border-box;
  margin: 10px;
  padding: 0;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

code {
  position: absolute;
  top: 0;
  right: 0;
  color: #555;
}
